h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
	margin: 0 0 30px;
	line-height: 1.18;
}

h1 {
	@include font-size(3.8);
}

h2 {
	@include font-size(2.8125);
	line-height: 1.33;
	@media (max-width: $size__width-sm){
		@include font-size(2.5);
	}
}

h3 {
	@include font-size(2.5);
}

h4 {
	@include font-size(1.875);
}

h5 {
	@include font-size(1.5);
	line-height: 1.41;
}

h6 {
	@include font-size(1.25);
	font-weight: 600;
}
