.highlight-number {
	@include font-size(2.75);
	display: block;
	text-align: center;
	line-height: 1.4;
	color: #fff;
	background: $color__logo;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-bottom: 10px;

	+ h6 {
		margin-top: 20px;
	}
}