@import 'table-colors';

$color__logo: #f6a23b;
$color__logo--dark: darken($color__logo, 10%);
$color__light-grey: #efefea;
$color__medium-grey: #e8e8e7;
$color__medium-dark-grey: #d4d2c7;
$color__charcoal-grey: #4a4a4a;
$color__dark-grey: #575757;
$color__greyish-brown: #5a564e;
$color__light-blue: #61c1b6;

$color__background-body: #fff;
$color__background-grey: #4a4a4a;
$color__background-screen: #f1f1f1;
$color__background-hr: darken($color__medium-grey, 10%);
$color__background-button: #e6e6e6;
$color__background-button--primary: $color__light-blue;
$color__background-button--secondary: $color__dark-grey;
$color__background-button--white: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-input: $color__medium-grey;

$color__text-screen: $color__charcoal-grey;
$color__text-button: $color__dark-grey;
$color__text-input: #000;
$color__link: $color__dark-grey;
$color__link-visited: $color__dark-grey;
$color__link-hover: $color__logo;
$color__text-main: #000;

$color__border-abbr: #666;

$color__link-underline: $color__logo;
