$color__cell: #61c1b6;

$color__cell--col-5: $color__cell;
$color__cell--col-5--light: lighten($color__cell--col-5, 13%);
$color__cell--col-4: lighten(desaturate($color__cell, 4%), 10%);
$color__cell--col-4--light: lighten($color__cell--col-4, 10%);
$color__cell--col-3: lighten(desaturate($color__cell, 3%), 16%);
$color__cell--col-3--light: lighten($color__cell--col-3, 5%);
$color__cell--col-2: lighten(desaturate($color__cell, 3%), 24%);
$color__cell--col-2--light: lighten($color__cell--col-2, 6%);