html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.hr-span{
	position: relative;
	display: inline-block;
	margin: 15px 0;
	color: $color__background-hr;
	font-style: italic;

	&::before,
	&::after {
		content: '';
		border-bottom: 1px solid $color__background-hr;
		position: absolute;
		top: 50%;
	}	
	&::after {
		left: 100%;
		right: -60px;
		margin-left: 10px;
	}	
	&::before {
		right: 100%;
		left: -60px;
		margin-right: 10px;
	}
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
