ul, ol {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

li {
	line-height: 1.5em;
	margin-bottom: 0.6em;

	&.bullets {
		text-indent: -24px;
		padding-left: 24px;

		&:before {
		  content: '';
		  display: inline-block;
		  height: 4px;
		  width: 4px;
		  background: #4a4a4a;
		  border-radius: 2px;
		  margin-bottom: 3px;
		  margin-right: 20px;
		}
	}
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	display: inline-block;
	min-width: 124px;
	margin-bottom: 19px;
}

dd {
	display: inline-block;
	font-weight: bold;
	margin: 0;
}

.social-links {
	list-style: none;
	padding: 0;
	font-size: 0;

	li {
		display: inline-block;
		margin: 0 8px 4px 0;
		&:last-child{
			margin-right: 0;
		}
	}

	a {
		display: block;
		height: 31px;
		width: 31px;

	}
	&__facebook { 
		background-image: url(images/facebook.svg); 
		&:hover,
		&:active,
		&:focus {
			background-image: url(images/facebook-active.svg);
		}
	}
	&__linkedin { 
		background-image: url(images/linkedin.svg); 
		&:hover,
		&:active,
		&:focus {
			background-image: url(images/linkedin-active.svg);
		}
	}
	&__twitter { 
		background-image: url(images/twitter.svg); 
		&:hover,
		&:active,
		&:focus {
			background-image: url(images/twitter-active.svg);
		}
	}
	&__instagram { 
		background-image: url(images/instagram.svg); 
		&:hover,
		&:active,
		&:focus {
			background-image: url(images/instagram-active.svg);
		}
	}
}
