// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Padding for sections
@mixin padding-section() {
	padding-left: 116px;
	padding-right: 116px;
	@media (max-width: $size__width-xl) {
		padding-left: 56px;
		padding-right: 56px;
	}
	@media (max-width: $size__width-sm) {
		padding-left: 42px;
		padding-right: 42px;
	}
}

	