body{
    padding-top: 68px;
}
.container {
	@include padding-section;
	max-width: none !important;
}
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	margin-left: auto;
	@media (min-width: 576px){
		max-width: 540px;
	}
	@media (min-width: 768px){
		max-width: 720px;
	}
	@media (min-width: 992px){
		max-width: 960px;
	}
	@media (min-width: 1200px){
		max-width: 1140px;
	}
	
	
	
}

.blocks {
	display: flex;
	justify-content: stretch;
	position: relative;

	&:first-child .block__content {
		border-top: 2px solid lighten($color__dark-grey, 30%);
		border-bottom: 2px solid lighten($color__dark-grey, 30%);
		@media (max-width: $size__width-sm){
			border-top: none;
		}
	}

	&--stack-sm {
		@media (max-width: $size__width-sm){
			flex-wrap: wrap;

			.blocks__block {
				flex-basis: 100%;
			}

			.blocks__block:last-child .block__content:not(.block__content--padded) {
				padding-top: 0;
			}
		}

		+ .blocks--stack-sm {
			.block__content {
				padding-top: 0;
			}
		}
	}

	&__block {
		background: #fff;
		color: $color__background-grey;
		display: flex;
		flex: 1 1 0;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		&--image {
			background-size: cover;

			&-right {
				background-position: right center;
			}
		}
		@media (max-width: $size__width-sm){
			&--sm-bg {
				width: 100%;
				position: absolute;
				height: 100%;
				background-size: cover;

				&::after {
			    content: '';
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background: rgba(87, 87, 87, 0.3);
				}

				.block__content { 
					display: none !important;
				}
			}

			&--sm-content {
				background-color: transparent !important;
				color: #fff !important;
				padding-top: 188px;
				z-index: 1;

				.block__content {
					border-top: none !important;
				}
			}
		}

		.block__content {
			@include padding-section;
			padding-top: 60px;
			padding-bottom: 60px;
			padding-left: 67px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
			width: 100%;
			justify-content: inherit;
			position: relative;

			&--overlay-grey {
				background: rgba(0,0,0,0.2);
			}

			a:last-child {
				margin-top: auto;
				display: inline-block;
			}
		}

		.block__overlay {
	    background: rgba(255,255,255,0.8);
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    padding: 60px 62px 60px 62px;
	    width: 280px;

	    .btn {
	    	padding-left: .9em;
	    	padding-right: .9em;
	    }
		}

		&:first-child{
			.block__content {
				@include padding-section;
			}
		}

		&--title {
			min-height: 320px;
			justify-content: center;

			&:not(.blocks__block--dark) {
				border-top: 2px solid $color__medium-dark-grey;
				border-bottom: 2px solid $color__medium-dark-grey;

				h1 {
					font-weight: 300;
				}
			}

			h1 {
				margin: 0;
			}

			+ .blocks__block {
				justify-content: center;
			}
		}

		@media (min-width: $size__width-sm) {
			&--adjacent {
				.block__content{
					padding-left: 15px;
				}
			}
		}

		&--dark {
			color: #fff;
			background: $color__dark-grey;
		}

		&--light {
			background: $color__light-grey;
		}
	}
}

@media (max-width: $size__width-sm){
	.site-main > .blocks:first-child {
		.blocks__block {
			padding-top: 78px;
		}
	}

	.page-career-discovery {
		
	}
}
%title-lg {
    font-weight: 600;
    font-size: 46px;
    @media only screen and (max-width: 1200px) {
        font-size: 40px;
    }
    @media only screen and (max-width: 1024px) {
        font-size: 38px;
    }
    @media only screen and (max-width: 800px) {
        font-size: 32px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 28px;
    }
}
%title-md {
    font-weight: 500;
    font-size: 34px;
    @media only screen and (max-width: 1200px) {
        font-size: 30px;
    }
    @media only screen and (max-width: 1024px) {
        font-size: 28px;
    }
    @media only screen and (max-width: 800px) {
        font-size: 26px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 24px;
    }
}
$clrdefault : #f1ba22;
$clrwhite : #fff;
%btn-def{
    color: #000;
    background-color: #f1ba22;
    border-color: #f1ba22;
    &:hover{
        background-color: #000;
        border-color: #000;
    }
}
.btn-cstm{
    background-color: #f1ba22;
    min-width: 230px;
    height: 56px;
    line-height: 52px;
    border: 2px solid #f1ba22;
    border-radius: 3px;
    color: #000;
    font-size: 20px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding-left: 4px;
        padding-right: 4px;
    @media only screen and (max-width: 1024px) {
        min-width: 190px;
        height: 50px;
        line-height: 48px;
        border-width: 1px;
        font-size: 18px;
    }
    &:hover{
        border-color: #000;
        background-color: #000;
        color: #fff !important;
    }
    &.reverse{
        border: 2px solid $clrwhite;
        border-radius: 3px;
        color: $clrdefault;
        background-color: $clrwhite;
        &:hover{
            background-color: $clrdefault;
            color: $clrwhite;
        }
    }
}
.landing-sect01{
    position: relative;
    background-color: #f1ba22;
    z-index: 1;
    padding: 50px 0;
    @media only screen and (max-width: 991px) {
        text-align: center;
        .row {
            flex-direction: column-reverse;
        }
    }
    .landing-pageimg {
        text-align: right;
        img{
            max-width: 100%;
            height: auto;
        }
        @media only screen and (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
    .content-sect01{
        h4{
            font-size: 20px;
            position: relative;
            margin-bottom: 20px;
            color: #000;
            font-weight: normal;
            line-height: 1.5;
            padding-bottom: 20px;
            &:after{
                position: absolute;
                left: 0;
                bottom: 0;
                content: '';
                background-color: #000000;
                height: 2px;
                width: 30px;
                @media only screen and (max-width: 991px) {
                    right: 0;
                    margin: auto;
                }
            }
        }
        h2{
            @extend %title-lg;
            margin-bottom: 20px;
            color: #000;
        }
        p{
            color: #000;
            font-size: 18px;
            margin-bottom: 30px;
        }
        .btn-cstm{
            border-color: #000;
            color: #000;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
    }
}
.landing-sect-featured{
    position: relative;
    z-index: 1;
    .landing-sectf-box {
        background-color: #f7c742;
        padding: 40px 20px 30px;
        border-radius: 5px;
        box-shadow: 0 0 11px 2px rgba(0,0,0,0.17);
        background-size: cover;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        height: 100%;
        h4{
            color: #000000;
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: normal;
        }
        h2{
            color: #000000;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        button, a{
            background-color: #edbb31;
            padding: 8px 25px;
            border-radius: 25px;
            color: #000;
            font-size: 18px;
            font-weight: bold;
            border: none;
            text-decoration: underline;
            cursor: pointer;
            display: inline-block;
            line-height: 1.5;
            span{
                background-image: url(images/new/right-chevron.png);
                padding-right: 22px;
                background-repeat: no-repeat;
                background-position: right center;
            }
            &:hover{
                box-shadow: 0 0 6px 1px rgba(0,0,0,0.17);
            }
        }
        &.lsb-01{
            background-image: url(images/new/lsb-01.jpg);
        }
        &.lsb-02{
            background-image: url(images/new/lsb-02.jpg);
        }
        &.lsb-03{
            background-image: url(images/new/lsb-03.jpg);
        }
        @media only screen and (max-width: 991px) {
            h2{
                font-size: 20px;
            }
            button {
                padding: 8px 20px;
                font-size: 16px;
                span{
                    padding-right: 15px;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
    &::after{
        left: 0;
        top: 0;
        height: 78px;
        width: 100%;
        background-color: #f1ba22;
        content: '';
        position: absolute;
        z-index: -1;
    }
}
.landing-sect02 {
    .title{
        color: #222222;
        @extend %title-md;
        font-weight: 500;
        border-bottom: 1px solid #acacac;
        margin-bottom: 60px;
        padding-bottom: 20px;
        @media only screen and (max-width: 991px) {
            text-align: center;
            margin-bottom: 40px;
        }
    }
    .featured-courses{
        margin-bottom: 20px
    }
    padding: 40px 0 80px;
}
.fc-title {
    position: relative;
    img{
        width: 100%;
        height: 265px;
        object-fit: cover;
    }
    h4{
        font-weight: 500;
        color: $clrwhite;
        font-size: 26px;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;  
        z-index: 1;  
        @media only screen and (max-width: 1200px) {
            font-size: 24px;
            padding: 15px; 
        }
        @media only screen and (max-width: 1100px) {
            font-size: 22px;
            padding: 10px; 
        }
    }
    &::after{
        position: absolute;
        background-image: url('images/new/text-overlay.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-size: cover;
    }
}
.fc-tdetails, .fc-bdetails{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}
.fc-tdetails > div{
    color: #222222;
    font-size: 18px;
    padding-left: 32px;
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: 300;
    @media only screen and (max-width: 1200px) {
        font-size: 16px;
        padding-left: 22px;
    }
    &.fc-time{
      background-image: url('images/new/clock-icon.png');  
      background-size: 17px auto;
    }
    &.fc-students{
      padding-left: 0;
    }
}
.fc-bdetails{
    .fc-teacher a{
        color: #673ab7;
        font-size: 16px;
        padding-left: 20px;
        background-position: left center;
        background-repeat: no-repeat;
        display: inline-block;
        background-image: url('images/new/teacher-icon.png');  
        background-size: 12px auto;
    }
}
.btn-sect02{
    text-align: center;
    padding-top: 60px;
    .btn-cstm {
        width: 320px;
        font-weight: 400;
        max-width: 100%;
    }
    @media only screen and (max-width: 991px) {
        padding-top: 30px;
    }
}
.landing-sect03{
    background-color: $clrdefault;
    background-image: url('images/new/sect03-bg.png');  
    background-position: left top;
    padding: 80px 0 60px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 1;
    position: relative;
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $clrdefault;
        content: '';
        opacity: 0.3;
        z-index: -1;
        @media only screen and (max-width: 991px) {
            opacity: 0.4;
        }
        @media only screen and (max-width: 767px) {
            opacity: 0.6;
        }
    }
    h2{
        color: #fff;
        @extend %title-lg;
        margin-bottom: 16px;
    }
    p{
        color: #fff;
    }
    .btn-cstm{
        margin: 0 10px 10px;
    }
}
.landing-sect05{
    padding-bottom: 80px;
    .sect05-content{
        //width: 384px;
        max-width: 100%;
        @media only screen and (max-width: 991px) {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
        h2{
            @extend %title-md;
            font-weight: 500;
            color: #222222;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
    
        }
        &.aligned-right{
            padding-left: 50px;
            @media only screen and (max-width: 991px) {
                padding-left: 0;
            }
        }
    }
    .sect05-img{
        width: 100%;
        height: auto;
    }
}
.landing-sect06{
    background-image: url('images/new/testimonials-bg.jpg');
    background-size: cover;
    background-position: center top;  
    padding: 50px 0;
    .sect06-top {
        text-align: center;
        margin-bottom: 60px;
        h2{
            @extend %title-md;
            color: #222222;       
        }
        h4{
            color: #050505;
            font-size: 16px;
            font-weight: normal;
            max-width: 600px;
            margin: 0 auto;
        }
    }
    .testiNbox{
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        padding: 30px;
        flex-flow: column;
        height: 100%;
        box-shadow: 0 0 8px 0px rgba(0,0,0,0.14);
        h4{
            font-weight: 800;
            font-size: 20px;
            color: #000;
            margin-bottom: 20px;
        }
        
    }
}
.landing-sect04 {
    padding: 80px 0;
    .sect04-top{
        border-bottom: 1px solid #acacac;
        margin-bottom: 60px;
        padding-bottom: 15px;
        @media only screen and (max-width: 991px) {
            text-align: center;                        
        }
        .title{
            color: #222222;
            @extend %title-md;
            margin: 0;
            @media only screen and (max-width: 991px) {
                margin-bottom: 20px;
            }
        }
        .nav-tabs{
            float: right;
            border: none;
            justify-content: space-between;
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
            @media only screen and (max-width: 550px) {
                justify-content: center;
            }
            li{
                margin-left: 24px;
                float: left;
                position: relative;
                @media only screen and (max-width: 991px) {
                    float: none;
                    display: inline-block;
                }
                @media only screen and (max-width: 550px) {
                    margin: 0 8px 16px;
                }
                &:first-child{
                    margin-left: 0;
                    @media only screen and (max-width: 550px) {
                        margin-left: 8px;
                    }
                }
                a{
                    color: #222222;
                    font-size: 24px;
                    font-weight: 500;
                    position: relative;
                    text-decoration: none;
                    &.active{
                        &:after{
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -20px;
                            content: '';
                            background-color: $clrdefault;
                            height: 8px;
                            @media only screen and (max-width: 1024px) {
                                bottom: -18px;
                            }
                            @media only screen and (max-width: 600px) {
                                bottom: -16px;
                                height: 5px;
                            }
                            @media only screen and (max-width: 550px) {
                                display: none;
                            }
                        }
                    }
                    @media only screen and (max-width: 1200px) {
                        font-size: 20px;
                    }
                    @media only screen and (max-width: 600px) {
                        font-size: 18px;
                    }    
                    @media only screen and (max-width: 550px) {
                        font-size: 16px;
                        padding: 6px 10px;
                        border-radius: 4px;
                        background-color: #eae6e6;
                        display: inline-block;
                        &.active{
                            background-color: $clrdefault;
                            color: $clrwhite;
                        }
                    }
                }
            }
        }
    }
    .fc2-article {
        position: relative;
        color: $clrwhite;
        text-align: center;
        margin-bottom: 20px;
        .fc2-featuredimg{
            width: 100%;
            height: 262px;
            object-fit: cover;
        }
        .fc2-content{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 20px 20px 60px; 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: rgba(0,0,0,0.6);
            h4{
                margin: 0;
            }
            p{
                margin: 0;
                font-size: 14px;
                font-weight: 300;
            }
            .btm-f2c{
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 10px;
                border: 1px solid #ecebeb;
                span{
                    font-weight: bold;
                    color: #000;
                }
                button{
                    background-color: #f1ba22;
                    border-radius: 4px;
                    padding: 4px 10px;
                    color: #000;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}
.newsLetter-section{
	background-color: #f5f5f5;
	padding: 60px 0;
	h3{
		text-align: center;
		font-size: 30px;
		margin: 0 0 1.5rem;
	}
	.newsLetter-area {
		width: 500px;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		padding-right: 140px;
		input[type="email"] {
			background-color: #fff;
			width: 100%;
			height: 38px;
			padding: 0 10px;
			color: #111111;
			border: 1px solid #d2d1d1;
			border-radius: 3px;
			outline: none;
			box-shadow: none;
		}
		input[type="submit"] {
			width: 120px;
			height: 38px;
			line-height: 36px;
			border: none;
			border-radius: 3px;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			background-color: #f1ba22;
			color: #fff;
			&:hover{
				background-color: #e3ad1b;
			}
		}
		@media only screen and (max-width: 480px) {
			padding-right: 0;
			input[type="submit"] {
				position: static;
				margin: 0 auto;
				display: block;
			}
		}
	}
}
.about-wrap{
    background-color: #fff;
    .ordered_list {
        list-style-type: circle;
        margin-left: 20px;
        margin-bottom: 20px;
        li{
            margin-bottom: 5px;
        }
    }
    .about-sect01{
        position: relative;
        background-color: #f1ba22;
        z-index: 1;
        padding: 50px 0;
        @media only screen and (max-width: 991px) {
            text-align: center;
            .row {
                flex-direction: column-reverse;
            }
        }
        .about-pageimg {
            text-align: right;
            img{
                max-width: 100%;
                height: auto;
            }
            @media only screen and (max-width: 991px) {
                margin-bottom: 30px;
            }
        }
        .content-sect01{
            h2{
                @extend %title-lg;
                margin-bottom: 20px;
                color: #000;
            }
            p{
                color: #000;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .btn-cstm{
                border-color: #000;
                color: #000;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    .about-sect02{
        padding: 50px 0 0;
        position: relative;
        z-index: 1;
        &:after{
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #f8f8f8;
            content: '';
            width: 100%;
            height: 130px;
            z-index: -1;
        }
        h4.title{
            font-size: 30px;
            margin-bottom: 35px;
            color: #000;
            text-align: center;
            font-weight: 500;
        }
        .sect02-box{
            background-color: #fff;
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.09);
            padding: 10px 10px;
            text-align: center;
            display: flex;
            height: 260px;
            .sect02-boxInner{
                margin: auto;
                p{
                    margin: 25px 0 0;
                    color: #000;
                }
            }
            @media only screen and (max-width: 767px) {
                margin-bottom: 40px;
            }
        }
    }
    .about-sect03{
        background-color: #f8f8f8;
        padding: 60px 0;
        text-align: center;
        @media only screen and (max-width: 767px) {
            padding: 35px 0;
        }
        .container{
            max-width: 1000px;
        }
        h2{
            @extend %title-md;
            margin-bottom: 20px;
            color: #000;
        }
        p{
            color: #000;
        }
        .spacer{
            height: 2px;
            margin: 30px 0;
            position: relative;
            &:after{
                width: 60px;
                height: 2px;
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                background-color: #000;
            }
        }
    }
    .about-sect04{
        padding-top: 80px;
        @media only screen and (max-width: 767px) {
            padding: 40px 0;
        }
        .about-founder{
            display: inline-block;
            width: 100%;
            h2{
                @extend %title-md;
                margin-bottom: 20px;
                color: #000;
                clear: none;
                @media only screen and (max-width: 767px) {
                    margin-top: 30px;
                }
            }
            img{
                float: left;
                margin: 0 30px 30px 0;
                max-width: 40%; 
                width: 100%;
                @media only screen and (max-width: 767px) {
                    margin: 0 0 30px;
                    max-width: 100%;
                }
            }
        }
        
    }
}
.about-wrap{
    .pp-sect-01{
        .content-sect01{
            h2{
                color: #000;
                margin: 0;
                font-size: 34px;
                font-weight: 500;
            }
            h4{
                color: #000;
                margin: 0;
                font-size: 24px;
                font-weight: 500;
            }
            p{
                color: #000;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .btn-cstm{
                border-color: #000;
                color: #000;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    .pp-content{
        padding: 60px 0;
        h4{
            color: #000;
            margin: 0 0 10px;
            font-size: 24px;
            font-weight: 500;
        }
    }
}

.ordered_list {
    list-style-type: circle;
    margin-left: 20px;
    margin-bottom: 20px;
    li{
        margin-bottom: 5px;
        ul{
            list-style-type: disc;
            margin-left: 20px;
            margin-top: 10px;
            li{
                margin-bottom: 5px;
            }
        }
    }
}
.terms-wrap{
    padding: 40px 0;
    background-color: #fff;
    h2 {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .ordered_list {
        list-style-type: upper-roman;
        margin-left: 20px;
        li{
            margin-bottom: 5px;
        }
    }
    .dotted_list {
        list-style-type: circle;
        margin-left: 20px;
    }
    li{
        margin-bottom: 15px;
    }
    
}
.contactPage-title,
.def-title{
    background-image: url(images/new/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    padding: 80px 0;
    background-size: cover;
    h1{
        font-size: 36px;
        font-weight: 700;
        margin: 0;
    }
    p{
        margin: 15px 0 0;
        color: #333;
        font-size: 14px;
    }
}
.contactPage-sect {
    background-color: #ebebeb;
    padding: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(images/new/logo-mark.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 20px) bottom;
    
    h5 {
        color: #222222;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 767px) {
        margin-bottom: 20px;
        height: auto;
    }
}
.contactPage-content{
    padding: 60px 0;
    form.contact-us__form{
        width: 100%;
        padding: 0;
        display: block;
        max-width: 100%;
        input[type="text"],
        input[type="email"],
        textarea{
            width: 100%;
            background-color: #ebebeb;
            border: 1px solid #cacaca;
            border-radius: 4px;
            padding: 10px 20px;
            color: #222222;
            font-size: 18px;
        }
        input[type="text"],
        input[type="email"]{
            height: 50px;
        }
        textarea{
            height: 160px;
            max-width: 100%;
            min-width: 100%;
        }
        .btn-cstm{
            padding: 0;
            color: #000;
            background-color: #f1ba22;
            &:hover{
                background-color: #000;
            }
        }
        .alert{
            margin: 10px 0 0;
            clear: both;
            display: inline-block;
            width: 100%;
        }
    }
}
.faq-wrap{
    padding: 50px 0;
    h2{
        font-size: 2rem;
        font-weight: 500;
    }
    h3{
        font-size: 1.75rem;
        font-weight: 500;
    }
    .accordion {
        
        .card{
            margin-bottom: 10px;
            border-bottom:1px solid rgba(0, 0, 0, 0.125); 
            border-radius: 0;
            .card-header{
                border-radius: 0;
                cursor: pointer;
                h5{
                    font-size: 18px;
                }
            }
            .card-body{
                a{
                    color: #f2ba23;
                }
                ul{
                    margin-left: 20px;
                    list-style-type: disc;
                    li{
                        margin: 5px 0;
                    }
                }
            }
        }
    }
}
.sd-wrap{
    padding: 60px 0;
    .sd-box{
        -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.28);
        -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.28);
        box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.28);
        border-radius: 6px;
        padding: 20px 20px 60px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        h3{
            color: #000;
            font-weight: 500;
            font-size: 25px;
            margin: 15px 0;
        }
        img{
            margin: 0 auto 0 0px;
        }
        a{
            height: 40px;
            padding: 0 20px;
            text-align: center;
            border: 1px solid #000;
            border-radius: 4px;
            color: #000;
            line-height: 38px;
            display: inline-block;
            position: absolute;
            left: 20px;
            bottom: 20px;
            &:hover{
                background-color: #f1ba22;
                text-decoration: none;
                border-color: #f1ba22;
            }
        }
    }
}
.discovery_page{
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .row{
        margin: 0;
    }
    .discovery_page-half{
        width: 570px;
        float: left;
        padding: 40px;
        color: #000;
        max-width: 100%;
        h2{
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        &.alignrt{
            float: right;
            color: #fff;
        }
        .discovery_page-btn {
            padding: 0 22px;
            background-color: #f1ba21;
            color: #222;
            height: 50px;
            line-height: 50px;
            display: inline-block;
            font-size: 22px;
            font-weight: bold;
            border-radius: 4px;
            &:hover{
                text-decoration: none;
                background-color: #fff;
            }
        }        
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .discovery_page-lft{
        background-image: url(images/new/self-discovery/peer-logged.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:after{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.45);
            z-index: -1;
            content: '';
        }
    }
    .discovery_page-btm{
        padding: 50px 0;
        .col-md-6{
            margin-bottom: 30px;
        }
        h2{
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 40px;
            text-align: center;
        }
        .discovery_page-box{
            -webkit-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.28);
            -moz-box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.28);
            box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.28);
            border-radius: 6px;
            padding: 25px;
            background-color: #fff;
            position: relative;
            &.dgb-upr{
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                height: 100%;        
            }
            h4{
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 10px;
                color: #000;
                padding-right: 40px;
            }
            span.countRadius {
                width: 40px;
                height: 40px;
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: #f2ba23;
                text-align: center;
                border-radius: 50%;
                color: #000000;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}
.resources-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
    @media only screen and (max-width: 1100px) {
        justify-content: space-around;
    } 
    .resourceBox {
        background-color: #fff;
        -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.09);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.09);
        padding: 30px 15px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: center;
        width: calc(25% - 20px);
        a{
            display: inline-block;
        }
        h5{
            font-weight: 700;
            font-size: 24px;
        }
        @media only screen and (max-width: 1100px) {
            width: calc(33% - 20px);
        } 
        @media only screen and (max-width: 991px) {
            width: calc(50% - 20px);
        } 
        @media only screen and (max-width: 767px) {
            width: 100%;
        }    
    }
    
}
.postsListings-main{
    padding: 50px 0;
    .postsMainflex{
        margin: 0 -1.5rem;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media only screen and (max-width: 480px) {
            justify-content: space-around;
        }
        .postBlock{
            padding: 1.5rem;
            width: 50%;
            display: flex;
            display: -webkit-flex;
            @media only screen and (max-width: 991px) {
                width: 100%;
            }
            @media only screen and (max-width: 480px) {
                flex-direction: column;
                max-width: 340px;
            }
            .postThumbnail{
                width: 30%;
                height: 175px;
                object-fit: cover;
                object-position: center;
                margin-right: 5%;
                @media only screen and (max-width: 480px) {
                    width: 100%;
                    margin: 0 0 10px;
                    height: 300px;
                }
            }
            .postBlock-content{
                width: 65%;
                h4{
                    font-weight: 500;
                    font-size: 1.2rem;
                    color: #000;
                    margin:0 0 10px; 
                }
                p{
                    margin-bottom: 10px;
                }
                .postBlock-btn{
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    white-space: nowrap;
                    position: relative;
                    background: none;
                    border: 2px solid #e8e8e8;
                    z-index: 0;
                    cursor: pointer;
                    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
                    line-height: 2.8;
                    padding: 0 1.8em;
                    border-radius: 0.3em;
                    &:hover{
                        background-color: #e8e8e8;
                        text-decoration: none;
                    }
                }
                @media only screen and (max-width: 480px) {
                    width: 100%;
                }
            }
        }
        .pagination{
            text-align: center;
            padding-top: 40px;
            justify-content: center;
            width: 100%;
            .nav-links{
                display: inline-block;
                .page-numbers{
                    display: inline-block;
                    border: 2px solid #e8e8e8;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #000;
                    border-radius: 4px;
                    color: #575757;
                    margin: 5px 2px;
                    &.current, &:hover{
                        background-color: #f1ba22;
                        border-color: #f1ba22;
                        color: #fff;
                        text-decoration: none;
                    }
                    &.next ,&.prev{
                        width: 64px;
                    }
                }
            }
        }
    }
}
.postROw {
    display: table;
    width: 100%;
    margin: 60px 0 40px;
    table-layout: fixed;
    > div {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        &.postInfoLeft {
            padding-right: 50px;
            > *{
                color: #1a1a1a;
            }
            h1{
                font-size: 45px;
                margin-bottom: 0;
            }
            h5 {
                margin-bottom: 50px;
                font-size: 20px;
            }
            h3 {
                padding: 0;
                font-weight: 600;
                margin: 0;
                font-size: 30px;
            }
            p {
                margin-bottom: 0px;
            }
            @media only screen and (max-width: 991px) {
                h1{
                    font-size: 36px;
                    margin-bottom: 0;
                }
                h5 {
                    font-size: 18px;
                }
                h3 {
                    font-size: 25px;
                }
            }
        }
        @media only screen and (max-width: 767px) {
            display: block;
            width: 100%;
            &.postInfoLeft {
                padding-right: 0;
                margin-top: 30px    
            }    
        }
    }

    .postInfoRight .w-blogpost-preview {
        background-color: #f5f5f5;
        padding: 15px;
        border: 1px solid #eae7e7;
        margin: 0;
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse
    }
}
.postDetail {
    padding-bottom: 60px;
    p{
        color: #333;
        a {
            color: #f1ba22;
        }
    }
    
}


@media only screen and (max-width: 991px) {
    .grid-rev-md .col-lg-6:first-of-type {
        order: 2;
    }
    .grid-rev-md .col-lg-6:last-of-type {
        order: 1;
    }
    .testi-last {
        margin-top: 30px;
    }
    .sd-wrap .row{
        align-items: center;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 767px) {
    .testi-middle {
        margin-top: 30px;
    }
}
