.profile-page,
.groups-page,
.messages-page {
	@include padding-section;
}

#buddypress .comment-reply-link, 
#buddypress .generic-button a, 
#buddypress .standard-form button, 
#buddypress a.button, 
#buddypress input[type=button], 
#buddypress input[type=reset], 
#buddypress input[type=submit], 
#buddypress ul.button-nav li a, 
a.bp-title-button {
	@extend .btn;
	@extend .btn--primary;
	@extend .btn--small;

	&:hover {
		@extend .btn:hover;
		@extend .btn--primary:hover;
	}
}

#friends-personal-li {
	display: none;
}