.coaches {
  @include padding-section;
  padding-top: 50px;
  padding-bottom: 50px;

  .course-list-item__img {
    max-height: 190px;
  }
  .course-list-item__content h3 {
    font-size: 25px;
  }
}

.coach {
  display: flex;

  &__img {
    background-size: cover;
    background-position: top center;
    flex: 2;
    padding-top: 40%;
    margin-right: 30px;

    @media (min-width: $size__width-lg) {
      padding-top: 0;
      height: 300px;
    }

  }

  &__content {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
}