.contact-us {
	background-size: cover;

	&__content {
		@include center-block;
		max-width: 825px;
		padding-top: 145px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 203px;
		color: #fff;
	}

	&__form-container {
		padding-top: 73px;
		display: flex;
		justify-content: space-between;
	}

	&__form-meta {
		max-width: 340px;
		padding-right: 30px;
		display: flex;
		flex-direction: column;

		h5 {
			margin-bottom: 0;
		}

		p {
			margin-top: 6px;
		}
	}

	&__form {
		max-width: 310px;
		padding-top: 12px;

		&::after {
			@include clearfix;
			@include clearfix-after;
		}

		input[type="submit"] {
			float: right;
			padding-left: 1.9em;
			padding-right: 1.9em;
		}
	}

	.social-links {
		margin-top: auto;
		margin-bottom: 41px;
	}
}