.courses {
  @include padding-section;
  padding-top: 50px;
  padding-bottom: 50px;
}

.course-list-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__img {
    background-size: cover;
    background-position: top center;
    flex: 2;
    padding-top: 40%;
    margin-right: 30px;

    @media (min-width: $size__width-lg) {
      padding-top: 0;
      height: 300px;
    }

  }

  &__content {
    flex: 3;
    display: flex;
    flex-direction: column;

    time {
      margin-top: auto;
      margin-bottom: 10px;
    }
  }
}

.course {
  @include padding-section;
  padding-top: 50px;
  padding-bottom: 50px;
}