.cta-banner {
	@include padding-section;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-top: 99px;
	padding-bottom: 82px;

	&__button {
		@include center-block;
		height: 156px;
		width: 156px;
		background: $color__logo;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include font-size(2.5);
		line-height: 1;
		text-decoration: none;
		color: inherit;

		&:hover {
			color: inherit;
			background: $color__logo--dark;
		}
	}
}