.employer-panel {
	@include padding-section;
	background: $color__light-grey;
	color: $color__dark-grey;
}

body .wpjb {
	.wpjb-motif {
		color: $color__logo;
	}
}
.wpjb-grid .wpjb-grid-row {
	padding: .75em;
}