.faqs {
	display: flex;
	width: 100%;
	@media (max-width: $size__width-sm){
		flex-wrap: wrap;
	}

	&__questions {
		list-style: none;
		width: 50%;
		flex: 0 0 50%;
		padding-right: 37px;

		@media (max-width: $size__width-sm){
			flex-basis: 100%;
			padding-right: 0;
			margin-bottom: 30px;
		}
	}
	
	&__answers {
		width: 50%;
		flex: 0 0 50%;
		padding-left: 16px;

		@media (max-width: $size__width-sm){
			flex-basis: 100%;
			padding-left: 0;
		}
	}

	li {
		margin-bottom: 0;
	}

	&__title {
		text-align: center;
		width: 100%;
		font-weight: 300;
	}

	&__question {
		position: relative;
		cursor: pointer;
		margin-bottom: 0;
		padding: 16px;

		&.open{
			color: #fff;
			background: url(images/faq.svg) no-repeat;
			background-size: 100% 100%;
		}
	}

	&__answer {
		display: none;
	}
}