.feature-links {
	@include padding-section;
	padding-bottom: 180px;
	&::after {
		@include clearfix;
		@include clearfix-after;
	}
	@media (max-width: $size__width-sm){
		padding-bottom: 40px;
	}
}

.feature-link {
	text-decoration: none;
	padding-top: calc(50% - 16px);
	position: relative;
	width: calc(50% - 16px);
	display: block;
	float: left;
	@media (max-width: $size__width-sm){
		width: 100%;
		padding-top: 100%;
	}

	&:first-of-type {
		margin-right: 32px;
		@media (max-width: $size__width-sm){
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
		height: 364px;
		width: 364px;
		border-radius: 100%;
		background: rgba($color__dark-grey, 0.7);
		padding: 120px 20px 0;
		@include font-size(1.25);
		line-height: 1.35;
		@media (max-width: $size__width-sm){
			height: 380px;
			width: 380px;
		}
		@media (max-width: 530px){
			height: 100%;
	    width: 100%;
	    border-radius: 0;
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    padding-top: 0;
		}

		h3 { margin: 0; }

		p { margin: 18px 0 10px; }

		a {
			text-decoration: underline;

			&.btn {
				text-decoration: none;
			}
		}
	}
	&:hover &__content{
		background: rgba($color__logo, 0.7);
	}
}