.founder {
	display: flex;
	justify-content: stretch;
	margin-bottom: 57px;

	@media (max-width: $size__width-lg) {
		flex-direction: column;
	}

	&__meta {
		background: $color__dark-grey;
		flex: 1;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__title {
		text-align: center;

		h3 {
			display: inline;
			color: $color__light-blue;
			line-height: 1.5;	
			flex-grow: 1;
		}
	}

	&__img {
		height: 100%;
		max-height: 300px;
		width: auto;
	}

	&__description {
		flex: 1;
		padding-left: 38px;
		padding-right: 90px;
		@media (max-width: $size__width-lg) {
			padding-top: 40px;
		}

		p {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}