.hero-section {
	display: flex;
	position: relative;
	
	&__img {
		background-size: cover;
		width: 50%;
		overflow: hidden;
		background-position: center center;

		@media (max-width: $size__width-sm){
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: -1;
			padding-top: 0 !important;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: transparentize($color__dark-grey, .7);
			}
		}

		&--large {
			padding-top: 45%;
			@media (max-width: $size__width-sm){
				padding-top: 76.133%;
			}
		}

		&--extra-large {
			padding-top: 52%;

			+ .hero-section__content {
				justify-content: flex-start;
			}
		}

		video {
			position: absolute;
			top: 0;
			left: auto;
			right: 49%; //1% less, because at 50% there's sometimes a gap
			bottom: 0;
			height: 100%;
			z-index: -1;

			@media (max-width: 690px) {
				left: 50%;
				transform: translateX(-50%);				
			}
			@media (min-width: 690px) and (max-width: $size__width-sm) {
				height: auto;
				right: 0;
				left: 0;
				width: 100%;
			}
		}
	}

	&__content {
		@include padding-section();
		padding-top: 110px;
		padding-bottom: 90px;
		width: 50%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
		color: #fff;
		@media (min-width: $size__width-sm){
			background: $color__background-grey !important;
		}

		@media (max-width: $size__width-sm){
			background: transparent;
			padding-top: 188px;
			width: 100%;
		}

		&--inverse {
			border-top: 2px solid lighten($color__dark-grey, 30%);
			border-bottom: 2px solid lighten($color__dark-grey, 30%);	

			@media (min-width: $size__width-sm){
				background: #fff !important;
				color: $color__background-grey;
			}
		}

		p {
			@include font-size(1.0625);
			line-height: 1.3;
			margin-top: 0;
			margin-bottom: 22px;
			max-width: 435px;

			&:first-of-type {
				margin-top: 6px;
			}

			&:last-of-type {
				margin-bottom: 54px;
			}
		}

		h1 {
			@media (max-width: 480px) {
				@include font-size(3.2);
			}
			@media (max-width: 420px) {
				@include font-size(2.6);
			}
		}
	}
}