.job-posting {
	@include padding-section;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background: $color__light-grey;
	color: $color__dark-grey;
	padding-top: 79px;

	&__content {
		padding-right: 100px;
		padding-bottom: 126px;
	
		h6 {
			margin: 58px 0 14px;
		}

		ul {
			margin-bottom: 42px !important;
		}

		p,
		li {
			@include font-size(1.25);
		}

		li {
			margin-left: 23px !important;
			margin-bottom: 2px !important;
			padding-left: 30px !important;
			list-style-type: disc !important;
		}
	}

	&__form {
		flex: none;
		width: 433px;	
		padding: 60px 41px;
		margin-top: 6px;
		background: $color__light-blue;
		color: #fff;
		@include font-size(1.125);

		h4 {
			text-align: center;
			margin-bottom: 47px;
		}

		input[type="text"],
		input[type="email"] {
			@include font-size(1.125);
			background: transparent;
			border: 1px solid #fff;
			margin-top: 5px;
			padding-top: 8px;			
			padding-bottom: 8px;
			color: #fff;
		}

		.buttons {
			display: flex;
		}

		.buttons {
			display: flex;
			margin-top: 38px;

			button, 
			input {
				@include font-size(1.0625);
				width: 50%;
				padding: 1em -0px 0.9em;
			}

			button {
				margin-right: 16px;	
			}
		}
	}
}

.single-job {
	.job-posting {
		@media(max-width: $size__width-sm) {
			padding-top: 150px;
			flex-wrap: wrap;
		}
		&__content,
		&__form {
			flex-basis: 50%;

			@media(max-width: $size__width-sm) {
				flex-basis: 100%
			}
		}
	}
}

.wpjb .wpjb-form div div.wpjb-field textarea {
	height: 111px;
	@include font-size(1);
	line-height: 1.2;
}

.wpjb {
	width: 100%;
	max-width: 900px;
	padding-bottom: 20px;
}

.wpjb-upload-media.wpjb-button {
	display: none !important;
}

.wpjb-errors {
	color: red;
}
.wpjb-boxes-group.wpjb-boxes-group-account {
	&,
	& ~ a {
		display: none !important;
	}
}

.wpjb .wpjb-manage-actions-left {
	height: 40px !important;
}
.wpjb .wpjb-manage-actions-right a.wpjb-manage-action,
.wpjb .wpjb-manage-actions-left a.wpjb-manage-action {
	margin-top: 10px !important;
}

#employer_logout-li,
#employer_password-li,
#employer_delete-li {
	display: none;
}
