.jobs-list-container {
	background: $color__light-grey;
	color: $color__dark-grey;
	padding-top: 65px;
}

.jobs-list-header {
	@include padding-section;
	border-bottom: 2px solid #fff;

	li {
		display: inline-block;
		margin-right: 58px;
		cursor: pointer;

		&:last-child { margin-right: 0; }

		a {
			color: inherit;
			text-decoration: none;
		}

		&.active a {
			color: $color__logo;
		}
	}
}

.jobs-list{
	@include padding-section;
	padding-top: 80px;

	td {
		height: 102px;
		padding: 4px 50px 66px;
		vertical-align: top;

		@media (min-width: $size__width-sm) {
			&:first-of-type {
				padding-left: 0;
				padding-top: 0;
			}

			&:nth-of-type(2) {
				width: 400px;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}
	}
	
	@media (max-width: $size__width-sm) {
	  thead {
	    border: none;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	  }
	  tr {
	    border-bottom: 3px solid #ddd;
	    display: block;
	    margin-bottom: .625em;
	  }
	  td {
	    border-bottom: 1px solid #ddd;
	    display: block;
	    padding: 10px;
	    height: auto;
	   	
	   	&:nth-child(4) {
	   		margin-left: 50px;
	   	}
	   	&:nth-child(5) {
	   		float: right;
	   	}
	   	&:nth-child(n+3) {
	   		display: inline-block;
	   		border-bottom: 0;
		  }
		}
	}

	h5 {
		margin: 0;
	}

	a {
		display: inline-block;
		text-align: center;
		border-radius: 3px;
		padding: 0 10px;

		&:hover {
			background: $color__medium-dark-grey;
		}
	}

	.fa {
		color: $color__light-blue;
	}

	&__hire-mobile {
		@include padding-section;
		padding-bottom: 50px;
		padding-top: 50px;
		text-align: center;
		display: none;

		@media (max-width: $size__width-sm) {
			display: block;
		}
	}
}
