.mom-profiles {
	@include padding-section;
	padding-top: 10px;
	padding-bottom: 50px;
	background: $color__light-grey;

	h2 {
		text-align: center;
		margin: 30px 0;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
	}
}

.mom-profile {
	flex: 1 0 0;
	width: 0;
	margin-right: 37px;
	padding: 10px;
	background: #fff;

	@media (max-width: $size__width-xl){
		flex-basis: 40%;
		margin-bottom: 50px;

		&:nth-of-type(2){
			margin-right: 0;
		}
	}

	@media (max-width: $size__width-xs){
		flex-basis: 100%;
		margin-right: 0;
	}

	&__img {
		padding-top: 66%;
		background-size: cover;
		margin: -10px -10px 0;
	}

	time {
		display: block;
		margin: 10px 0 5px;
		font-size: .9rem;
	}

	h6 {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 10px;
	}

	&--newsletter-signup {
		margin-right: 0;
		padding: 0;

		.newsletter-signup {
			height: 100%;
		}

		h1 {
			@media (min-width: $size__width-xl) and (max-width: 1420px){
				font-size: 45px;
			}
		}
	}
}