.mom-profile-article-container {
	@include padding-section;
	display: flex;
	padding-top: 82px;
	padding-bottom: 300px;
	@media(max-width: $size__width-lg) {
		flex-wrap: wrap;
		padding-bottom: 100px;
	}
}
.mom-profile-article {
	padding-right: 110px;
	flex: 1 1 930px;

	@media(max-width: $size__width-lg) {
		padding-right: 0;
		flex-basis: 100%;
		width: 100%;
	}

	h3 {
		margin-bottom: 20px;
	}

	h6 {
		font-weight: 600;
	}

	ol{
		list-style-position: inside;

		li {
			@include font-size(1.25);
			font-weight: 600;
		}
	} 

	p {
		@include font-size(1.25);
	}

	&__introduction {
		margin-bottom: 96px;
	}
}
.mom-profile-sidebar {
	flex: 0 1 432px;
	@media(max-width: $size__width-lg) {
		flex-basis: 100%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 100px;
	}

	h4 {
		flex: 0 0 100%;
		margin-bottom: 39px;
	}

	&__article-link {
		margin-bottom: 42px;
		flex: 0 1 30%;

		@media(max-width: $size__width-lg) {
			&:not(:nth-of-type(3)){
				margin-right: 5%;
			}
		}

		a:first-child {
			display: inline-block;
			background: $color__light-blue;
			color: #fff;
			width: 100%;
			padding: 8px 10px;
			text-decoration: none;
			margin-bottom: 21px;

			&:hover {
				background: darken($color__light-blue, 5%);
			}

			&:active,
			&:focus {
				background: darken($color__light-blue, 15%);
			}

			i {
				float: right;
				margin-top: 4px;
			}
		}

		h6 {
			margin-bottom: 11px;
		}

		p {
			margin-bottom: 10px;
		}
	}

	.newsletter-signup {
		flex: 0 0 100%;
		margin-top: 76px;

		&__content {
			padding: 70px 70px 50px;

			h1 {
				font-size: 40px;
				font-weight: normal;
			}

			.btn {
				display: block;
				margin: 35px auto 0;
			}
		}
	}
}