.mom-profiles-container {
  @include padding-section;
  padding-top: 65px;
  display: flex;

  & > div {
    flex: 1;
  }
}

@media (max-width: 767px){
  .mom-profiles-sidebar {
    margin-bottom: 101px;
  } 
}

.mom-profile-archive {
  display: flex;
  margin-bottom: 80px;

  &__img {
    background-size: cover;
    background-position: top center;
    height: 300px;

  }

  time {
    margin: 14px 0 42px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    a {
      margin-top: auto;
    }
  }
}