.newsletter-signup {
	background: $color__light-blue;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		font-weight: 300;
	}

	&__content {
		padding: 0 40px;
		
		@media (max-width: $size__width-xl){
			padding: 30px 40px;
		}
	}
}

.mom-profiles-sidebar {
	.newsletter-signup {
		margin-top: 40px;

		h1 {
			font-size: 30px;
		}

		&__content {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}
