.peer-group{
	background: $color__light-grey;
	padding-top: 39px;
	padding-bottom: 182px;
	overflow: hidden;
	
	&__list {
		margin: 0;
		border-collapse: collapse;
		color: $color__dark-grey;

		th,
		.peer-summary td {
			&:first-of-type {
				padding-left: 128px;
				/* width: 243px; */
			}
			
			&:nth-of-type(2) {
				/* width: 235px; */
			}
			
			&:nth-of-type(3) {
				/* width: 360px; */
			}

			&:last-of-type {
				padding-right: 128px;
				text-align: center;
			}
		}
	
		th {
			text-align: left;
			padding: 5px 0;
			font-weight: normal;
		}

		td {
			height: 100px;
			@include font-size(1.315);
			background: #fff;
			border-bottom: 2px solid $color__light-grey;
		}

		img {
			width: 81px;
			height: 81px;
			margin: 11px 0;
			display: block;
		}

		.fa {
			color: #e0dfd5;
			cursor: pointer;
			@include font-size(1.8);

			&:hover,
			&:active {
				color: $color__logo;
			}

			&-plus-circle {
				&:hover,
				&:active {
					color: $color__light-blue;
				}
			}
		}

	}

	&__content {
		padding-top: 30px;
		@include padding-section;

		.btn {
			display: inline-block;
			margin-top: 50px;
		}

		h1 {
			margin-top: 20px;
			margin-bottom: 46px;
		}
	}
	&__list ~ .peer-group__content h1 {
		margin-top: 222px;
	}
}

.match-percentage {
	@include font-size(1);
}

.match-bar {
	display: inline-block;
	height: 11px;
	width: 320px;
	border-radius: 5px;
	border: 1px solid $color__medium-dark-grey;
	position: relative;
	margin-left: 10px;

	&__inner {
		background: $color__logo;
		position: absolute;
		top: -1px;
		left: -1px;
		height: 11px;
		border-radius: 5px;
	}
}

.peer-details{
	&:not(.open) > td {
		border: none;
	}

	> td {
		height: auto;
		padding: 0 128px;
	}		
	
	table{
		display: none;
		margin: 0;
		
		td{
			height: 35px;
			@include font-size(1);
		}

		tr:last-child td{
			border: none;
		}
	}
}

.show-peer-details {
	cursor: pointer;
} 