.peer-group-rules {
	@include padding-section;
	padding-top: 138px;
	text-align: center;

	h2 {
		color: $color__dark-grey; 
	}

	.rules {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 80px;
		padding-bottom: 95px;

		@media (max-width: 1000px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	.rule {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 320px;
		padding: 0 20px;
		margin-bottom: 50px;
		
		&__title {
			max-width: 140px;
			margin-top: 11px;
			margin-bottom: 21px;
			line-height: 1.2;
		}

		&__description {
			margin-top: 0;
			max-width: 340px;
			@include font-size(1.0625);
			line-height: 1.25;
		}
	}
}