.program-features {
	@include padding-section();
	padding-top: 138px;
	padding-bottom: 110px;

	h2 {
		@include center-block;
		text-align: center;
		max-width: 930px;
		margin-bottom: 110px;
		color: $color__dark-grey;
	}

	&__list-item {
		text-align: center;
		max-width: 180px;
		@include font-size(1.25);
		line-height: 1.35;
		@media (max-width: $size__width-sm){
			max-width: 230px;
			margin-bottom: 47px;
		}
		@media (max-width: 500px){
			max-width: none;
		}
	}

	.highlight-number {
		@include center-block;
	}
}