.questions {
	@include padding-section;
	h2 {
		text-align: center;
		margin-bottom: 72px;
		color: $color__dark-grey;
	}

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 354px;
	
		@media (max-width: $size__width-sm) {
			flex-direction: column;
			margin-bottom: 40px;
		}

		&__question {
			display: flex;
			flex-direction: column;
			height: 100%;
			min-height: 354px;
			justify-content: center;
			max-width: 440px;
			padding-right: 30px;
			position: relative;
			color: $color__dark-grey;

			@media (max-width: $size__width-sm) {
				min-height: none;
			}
		}

		&__answer {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			max-width: 460px;
			padding-left: 30px;
			line-height: 1.25;
			color: #222222;
			position: relative;
		}
	}

	.bg-circle--large {
		&::before {
	    height: 354px;
	    width: 354px;
	    position: absolute;
	    z-index: -1;
	    background: #e8e7e0;
	    left: -33px;
	    border-radius: 50%;
	    content: '';
	    top: 0;
		}

		&--light::before{
			background: $color__light-grey;
		}

		&--lighter::before{
			background: #f5f5f2;
		}

		&--left::before{
			left: -123px;
		}
	}


	.bg-circle--small {
		&::after{
	    height: 136px;
	    width: 136px;
	    position: absolute;
	    z-index: -1;
	    background: #e8e7e0;
	    left: -128px;
	    border-radius: 50%;
	    content: '';
	    top: 0;
		}

		&--right::after {
			top: auto;
			left: auto;
			right: 0;
			bottom: 0;
		}
	}

	&__cta {
		height: 354px;
		width: 354px;
		background: $color__logo;
		border-radius: 50%;
		@include center-block;
		margin-top: 116px;
		margin-bottom: 106px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: #fff;

		p {
			margin-top: -6px;
			margin-bottom: 10px;
			color: $color__dark-grey;
		}

		a {
			font-weight: bold;
			text-decoration: none;
			color: inherit;

			&:hover {
				text-decoration: underline;
				color: inherit;
			}
		}
	}
}