.resources {
	@include padding-section;
	padding-top: 138px;
	padding-bottom: 165px;
	text-align: center;

	h2 {
		color: $color__dark-grey;
	}

	&__intro {
		max-width: 620px;
		@include center-block;
	}

	&__container {
		margin-top: 105px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}

.resource {
	flex: 0 1 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;

	@media (max-width: 600px) {
		width: 100%;
		flex-basis: 100%;
	}

	&__content {
		padding-bottom: 10px;
	}

	&__summary {
		margin-top: 10px;
	}
	
	&__title {
		margin-top: 23px;
		margin-bottom: 5px;
		line-height: 1.2;
	}

	&__author {
		@include font-size(1);
		margin-bottom: 28px;
		font-style: italic;
	}

	&__link {
		line-height: 1.375;
	}

	&__img {
		@media (min-width: 601px) {
			height: 190px;
			display: flex;
			align-items: flex-end;
		}
	}
}