.sponsors {
	@include padding-section;
	padding-top: 138px;
	padding-bottom: 176px;

	h2 {
		color: $color__dark-grey;
		text-align: center;
		margin-bottom: 90px;
	}

	&__container {
		@include center-block;
		display: flex;
		max-width: 900px;
		justify-content: space-between;
	}

	.sponsor {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		img {
			margin-bottom: 1em;
			flex-basis: 45%;
			width: 45%;
		}

		p {
			line-height: 1.375;

			img {
				width: auto;
		    height: 30px;
		    margin: 0;
		    vertical-align: -8px;
			}
		}
	}
}