.subscription-plans {
	@include padding-section;
}
.home .subscription-plans{
	padding-bottom: 254px;
	@media (max-width: $size__width-lg){
		padding-bottom: 157px;
	}

	h2 {
		text-align: center;
		margin: 73px 0 80px;
	} 
}
.page-my-account .subscription-plans {
	padding-top: 83px;
	padding-bottom: 150px;
	background: $color__light-grey;

	@media (min-width: $size__width-lg){
		h2 {
			margin-bottom: -42px;
		}
	}
}
.page-membership .subscription-plans {
	padding-top: 140px;
	padding-bottom: 169px;
}

.sp-table {
	display: flex;
	justify-content: stretch;
	@media (max-width: $size__width-lg){
		flex-wrap: wrap;
	}

	&__column {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		margin-right: 8px;
		@media (max-width: $size__width-lg){
			margin-right: 0;
			flex-basis: 50%;
			margin-bottom: 9px;
		}
		@media (max-width: $size__width-sm){
			flex-basis: 100%;
		}

		&:last-child {
			margin-right: 0;
		}

	  &--header {
			margin-right: 0;	
			@media (max-width: $size__width-lg){
				display: none;
			}

			.sp-table__cell {
				background: #f5f5f2;
				align-items: left;
				text-align: left;

				&:nth-child(-n+2),
				&:nth-child(2n-1) {
					background: transparent;
				}

				&:nth-last-child(2) {
					justify-content: center;
				}
			}
		}

		&:nth-child(n + 2) {
			.sp-table__cell:nth-child(6) {
				font-size: 20px;
			}
		}

		&:nth-child(5),
		&:nth-child(6) {
			.sp-table__cell { 
				background: $color__cell--col-5;
				&:first-child{
					border-top: 10px solid $color__cell--col-5;
					@media (max-width: $size__width-lg){
						border: 0;
					}
				}
				&--light {
					background: $color__cell--col-5--light; 
				}
				@media (max-width: $size__width-lg){
					&--mobile-dark {
						background: $color__cell--col-5;
					}
				}
			}
		}

		&:nth-child(4) {
			.sp-table__cell { 
				background: $color__cell--col-4; 
				&:first-child{
					border-top: 10px solid $color__cell--col-4;
					@media (max-width: $size__width-lg){
						border: 0;
					}
				}
				&--light {
					background: $color__cell--col-4--light; 
				}
				@media (max-width: $size__width-lg){
					&--mobile-dark {
						background: $color__cell--col-4; 
					}
				}
			}
		}

		&:nth-child(3) {
			.sp-table__cell { 
				background: $color__cell--col-3; 
				&:first-child{
					border-top: 10px solid $color__cell--col-3;
					@media (max-width: $size__width-lg){
						border: 0;
					}
				}
				&--light {
					background: $color__cell--col-3--light; 
				}
				@media (max-width: $size__width-lg){
					&--mobile-dark {
						background: $color__cell--col-3; 
					}
				}
			}
		}

		&:nth-child(2) {
			.sp-table__cell { 
				background: $color__cell--col-2; 
				&:first-child{
					border-top: 10px solid $color__cell--col-2;
					@media (max-width: $size__width-lg){
						border: 0;
					}
				}
				&--light {
					background: $color__cell--col-2--light; 
				}
				@media (max-width: $size__width-lg){
					&--mobile-dark {
						background: $color__cell--col-2; 
					}
				}
			}
		}
	}

	&__cell {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex: 0 0 124px;
		padding: 0 15px;

		&:first-child {
	    flex-basis: 58px;
	    justify-content: flex-start;
	    padding-top: 5px;
			@media (max-width: $size__width-lg){
	    	flex-basis: 90px;
	    	padding-top: 30px;
			}
		}
		&:nth-child(2) {
	    justify-content: flex-start;
	  }
		&:last-child {
			background-color: transparent !important;
		}
		@media (max-width: $size__width-lg){
			&:nth-child(5) { 
				order: 2;
				justify-content: flex-start;
				flex-basis: 98px;
			}
			&:nth-child(2) { order: 3}
			&:nth-last-child(2) {
				display: none; 
			}
			&:last-child {
				order: 4;
				justify-content: flex-start;
				flex-basis: 188px;
			}
			&:nth-child(3), 
			&:nth-child(4),
			&:nth-child(6) { 
				display: none;
			}
		}
		@media (max-width: 730px){
			&:nth-child(2) {
				flex-basis: 80px;
			}
			&:nth-child(5) { 
				flex-basis: 120px;
			}
		}

		.sp-check {
			background: url(images/check.svg);
			height: 18px;
			width: 21px;

			@media (max-width: $size__width-lg){
				display: none;
			}
		}

		.btn {
			margin: 32px 0 31px;
		}
	}
}

.plan {
	&__heading {
		margin-bottom: 0;
		color: $color__greyish-brown;
		@media (max-width: $size__width-lg){
			@include font-size(1.5625);
		}
	}

	&__why {
		@media (max-width: $size__width-lg){
			@include font-size(1.5625);
			line-height: 1.4;
			max-width: 290px;
		}
	}

	&__price {
		@include font-size(3.2);
		font-weight: 300;

		@media (min-width: $size__width-lg) and (max-width: $size__width-xl) {
			@include font-size(2);
		}

		small {
			@include font-size(1.125);
    	margin-right: 6px;
	    vertical-align: 7px;
		}
	}

	&__access {
		font-weight: bold;
		@media (max-width: $size__width-lg){
			@include font-size(1.5625);
		}
	}
}