.testimonials {
	@include padding-section;
	padding-top: 170px;
	padding-bottom: 135px;
	text-align: center;
	color: #fff;
	background-size: cover;
	@media (max-width: $size__width-sm){
		padding-top: 76px;
		padding-bottom: 40px;
	}	
	@media (max-width: 600px){
		padding-bottom: 25px;
	}
}

.testimonial-container {
	position: relative;
	@include font-size(1.43);
	padding-left: 190px;
	padding-right: 190px;
	height: 400px;
	@media (max-width: $size__width-sm){
		padding-left: 94px;
		padding-right: 94px;
		height: auto;
	}
	@media (max-width: 600px){
		padding-left: 0;
		padding-right: 0;

		.slick-prev, .slick-next {
			display: none !important;
		}

		.slick-dots {
			margin-top: 35px;
		}
	}
}

.slick-initialized .testimonial-slide {
	display: flex !important;
}
.testimonial-slide {
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;

	blockquote {
		@include font-size(2.5);
		font-weight: 300;
		line-height: 1.35;
		margin: 0;
		
		&::before,
		&::after {
			content: '"';
		}
	}

	small {
		@include font-size(1.25	);
	}

	.testimonial__author {
		font-weight: 800;
		margin-top: 52px;
	}
}
