.test-results {
	display: flex;
	flex-wrap: wrap;
	margin-top: 57px;
	margin-bottom: 21px;
	
	.test-result {
		width: 230px;
		height: 207px;
		padding: 21px;
		margin: 0 27px 27px 0;
		border: 1px solid #fff;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			margin-top: 11px;
			line-height: 1.25;
		}

		.btn {
			color: $color__dark-grey;
			margin-top: auto;
		}
	}
}