.upload-account-photo {
  color: #fff !important;
  font-size: 20px;
  text-decoration: none;
  margin-top: 0 !important;

  &:hover,
  &:focus,
  &:active {
    color: #fff !important;  
  }

  &--show-sm {
    @media (min-width: $size__width-sm){
      display: none !important;
    }
  }

  i {
    background: orange;
    border-radius: 50%;
    padding: 12px;
    font-size: 30px;
    vertical-align: -3px;
    margin-right: 20px;
  }
}