.urbansitter-ad {
	display: none !important;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	border-top: 2px solid transparentize($color__medium-grey, .2);
	border-bottom: 2px solid transparentize($color__medium-grey, .2);
	background: #fff;
	text-align: center;
	opacity: .6;

	&:hover {
		opacity: 1;
	}

	&__content {
		display: inline-flex;
		align-items: center; 
		height: 67px;
		padding: 10px 20px;

		@media (max-width: 700px) {
			height: auto;
			flex-direction: column;

			span {
				display: none;
			}
		}

		.btn {
			margin-left: 8px;
			white-space: nowrap;
		}
	}

	&__logo {
		max-height: 80%;
		margin-right: 22px;
		height: 50px;

		img {
			max-height: 100%;
			width: auto;
		}
	}
}