.alert {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 9px;
  margin-bottom: 10px; }
  .alert--error {
    color: red; }
    .alert--error-bg {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb; }
  .alert--success {
    color: green; }
