.pmpro_thead{
  &-name {
    width: auto;
    @include font-size(2.8125);
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  &-msg {
    width: auto;
    transform: translateY(-50%);
    margin-top: 31px;
  }
}
@media (max-width: $size__width-xs){
  #buddypress ul.item-list li div.action {
    display: none;
  }
}