.alert {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 9px;
  margin-bottom: 10px;

	&--error {
	  color: red;

    &-bg {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
	}

	&--success {
		color: green;
	}
}