.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparentize($color__dark-grey, .5);
	display: none;
}

.modal {
	display: none;
		&__content {
		background: #fff;
		position: fixed;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 40px;
	  color: $color__dark-grey;
		
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 400px;
			@media (max-width: $size__width-sm){
				width: 350px;
			}
		}

		&--wide-form form {
			align-items: stretch;
		}

		h2 {
			margin-bottom: 10px;
		}
	}
}

.tml-action-links {
	margin-top: 10px;
}
.wp-social-login-provider-list {
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a {
		margin-bottom: 10px;
		//width: calc(50% - 10px);
		padding-left: 0.5em;
		padding-right: 0.5em;

		&:nth-child(2n-1) {
			margin-right: 10px;
		}
	}
}

.modal {
	&__close {
		position: absolute;
		top: 3px;
		right: 10px;
		cursor: pointer;
		@include font-size(1.7)
    font-weight: 700;
    line-height: 1;
	}


	&__change {
		position: absolute;
    display: inline-block;
    right: 40px;
    top: 7px;
	}
}
