.slick {
	&-prev,
	&-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		padding: 0;
		background-color: transparent;
		transform: translateY(-50%);

		&::before {
			opacity: .75;
			width: 22px;
		}

		&:hover,
		&:focus {
			background-color: transparent;
			outline: none;

			&::before {
				opacity: 1;
			}
		}
	}
	
	&-prev {
		left: 76px;
		@media (max-width: $size__width-sm){
			left: 18px;
		}
		
		&::before {
			content: url(images/prev.svg);
		}
	}

	&-next{
		right: 76px;
		@media (max-width: $size__width-sm){
			right: 18px;
		}
		&::before {
			content: url(images/next.svg);
		}
	}

	&-track,
	&-list {
		height: 100%;
	}

	&-dots {
		margin-top: 65px;

		li {
			height: 10px;
			width: 10px;
			border-radius: 100%;
			margin: 0 10px;
			background: $color__logo;
			display: inline-block;

			&.slick-active{
				background: #fff;
			}

			button {
				padding: 0;
				font-size: 0;
			}
		}
	}
}