.footer-main{
	background-color: #f2ba23;
	.footer-top{
		padding: 4rem 0;
		.wrapper{
			display: flex;
			display: -webkit-flex;
			justify-content: space-between;
			align-items: initial;
			@media (max-width: 991px) {
				flex-flow: column;
			}
		}
		.footer-box01,
		.footer-box03{
			width: 25%;
			@media (max-width: 991px) {
				width: 100%;
			}
		}
		.footer-box02{
			width: 50%;
			padding:0 10%;
			ul.menu{
				margin: 0;
				li{
					width: 50%;
					float: left;
					margin-bottom: 0.6rem;
					padding: 0;
					text-align: left;
				}
			}
			@media (max-width: 1199px) {
				padding:0 5%;
			}
			@media (max-width: 991px) {
				width: 100%;
				padding: 0;
				margin:40px 0; 
				.footer-navigation {
					width: 500px;
					max-width: 100%;
				}
			}
		}
		.footer-logo {
			margin-bottom: 1.5rem;
			img{
				width: 178px;
				max-width: 100%;
			}
		}
		p{
			font-weight: 400;
			color: $color__text-main;
		}
		a{
			color: $color__text-main;
		}
		h4{
			font-size: 20px;
			text-align: left;
			font-weight: 700;
			font-style: normal;
			@media (max-width: 991px) {
				margin-bottom: 10px;
			}
		}
	}
	
	.footer-btm{
		padding: 2rem 0;
		text-align: center;
		background-color: #e3ad1b;
		color: #333;
	}
}

.site-footer {
	@include padding-section;
	background: #fff;
	padding-top: 43px;
	padding-bottom: 26px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.social-links {
		margin: 0 50px;
		white-space: nowrap;
		@media (max-width: 768px){
			margin: 30px 0 0;
		}
	}
}

.site-info {
	display: block;
	flex-shrink: 0;
	margin-top: 0;
	@include font-size(0.9375);
	line-height: 1.5;
	color: #a6a6a7;
	@media (max-width: $size__width-lg){
		
		span:last-child {
			display: none;
		}

	}
	img {
		display: block;
		margin-bottom: 5px;
	}
}

.footer-navigation {
	margin-left: auto;
	@media (max-width: 1050px){
		margin-left: 0;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		@media (max-width: 678px){
			flex-direction: column;
			margin-top: 30px;
		}

		li {
			padding-right: 25px;
			text-align: center;
			@media (max-width: 678px){
				padding-right: 0;
			}

			&:last-child{
				padding-right: 0;
			}
		}

		a {
			color: $color__dark-grey;
			text-decoration: none;

			&:hover,
			&:active {
				text-decoration: underline; 
			}
		}
	}
}
