.site-header {
	padding: 20px 0;
	background-color: #f1ba22;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 9;
	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@media (max-width: 1450px){
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	@media (max-width: $size__width-sm){
		position: absolute;
		left: 0;
		right: 0;
		z-index: 100;
	}	
	@media (max-width: $mobile-breakpoint-min){
		justify-content: space-between;
	}
}
body.logged-in .site-header {
    margin-top: 32px;
}

.content-area {
	&--no-image {
		@media (max-width: $size__width-sm){
			margin-top: 140px;
		}
	}
}