.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	color: $color__text-button;
	@include font-size(1.5);
	line-height: 1;
	padding: .6em 2em .5em;
	border: 0 !important;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
	text-align: center;

	&:hover {
		color: $color__text-button;
		background-color: darken($color__background-button, 5%);
	}

	&:active,
	&:focus {
		color: $color__text-button;
		background-color: darken($color__background-button, 15%);
		outline: 0;
	}

	&--nostyle{
		padding: 0;
		background-color: transparent;
	}

	&.btn--primary {
		background: $color__background-button--primary;
		color: #fff;

		&:hover {
			color: #fff;
			background-color: darken($color__background-button--primary, 5%);
		}

		&:active,
		&:focus {
			color: #fff;
			background-color: darken($color__background-button--primary, 15%);
		}
	}

	&.btn--secondary {
		background: $color__background-button--secondary;
		color: #fff;

		&:hover {
			color: #fff;
			background-color: darken($color__background-button--secondary, 5%);
		}

		&:active,
		&:focus {
			color: #fff;
			background-color: darken($color__background-button--secondary, 15%);
		}
	}

	&.btn--white {
		background: $color__background-button--white;

		&:hover {
			background-color: darken($color__background-button--white, 5%);
		}

		&:active,
		&:focus {
			background-color: darken($color__background-button--white, 15%);
		}
	}

	&.btn--logo-color {
		background: $color__logo;
		color: #fff;

		&:hover {
			color: #fff;
			background-color: darken($color__logo, 5%);
		}

		&:active,
		&:focus {
			color: #fff;
			background-color: darken($color__logo, 15%);
		}
		&--mobile {
			@media (max-width: 1100px) {
				background: $color__logo;
				color: #fff;

				&:hover {
					color: #fff;
					background-color: darken($color__logo, 5%);
				}

				&:active,
				&:focus {
					color: #fff;
					background-color: darken($color__logo, 15%);
				}
			}
		}
	}

	&.btn--small {
		@include font-size(1);
		padding: .4em 1.7em .4em;
		&--large-screen {
			@media (min-width: $size__width-sm) {
				@include font-size(1);
				padding: .4em 1.7em .4em;
			}
		}
	}

	&.btn--outline {
		background: transparent;
		color: #fff;
		border: 1px solid #fff !important;

		&:hover {
			background: rgba(0,0,0,0.05);
		}

		&:active
		&:focus {
			background: rgba(0,0,0,0.15);
		}
	}

	&.btn--outline-dark {
		background: transparent;
		color: $color__dark-grey;
		border: 1px solid $color__dark-grey !important;

		&:hover {
			color: $color__dark-grey;
			background: rgba(0,0,0,0.05);
		}

		&:active
		&:focus {
			background: rgba(0,0,0,0.15);
		}
	}
}

#pmpro_form button {
	@extends .btn--primary;
}