input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 0;
	color: $color__text-input;
	background: $color__background-input;
	padding: 6px 8px;
	line-height: 1;
	margin-bottom: 20px;		
	width: 100%;

	&.light {
		background-color: transparent;
		border: 1px solid $color__background-input;
		color: #fff; 
	}

	&.inline {
		width: auto;
		margin-bottom: 0;
		margin-right: 10px;
	}

	&:hover,
	&:focus {
		outline: 0;
	}

	&::placeholder {
		color: lighten($color__text-input, 10%);
	}
}

textarea {
	height: 111px;
	padding: 8px;
	display: block;
	line-height: 1.2;
}

select {
	padding: 4px;
	margin-right: 10px;
}

.plain-input {
	color: inherit !important;
	padding: 0 !important;
	background-color: transparent !important;
	text-decoration: underline !important;
}