@import "buttons";

@import "fields";

.long-form {
	display: flex;
	flex-wrap: wrap;

	h2 {
		flex-basis: 100%;
	}

	&__field {
    flex-basis: calc(50% - 20px);
    width: calc(50% - 20px);
		margin-bottom: 20px;

		&:nth-of-type(2n-1) {
			margin-right: 20px;
		}
		&:nth-of-type(2n) {
			margin-left: 20px;
		}
		
		label {
	    display: block;
	    margin-bottom: 5px;
		}

		select {
			width: 100%;

			+ select {
				margin-top: 8px;
			}
		}

		input {
			margin-bottom: 0;
		}
	}
}

#most_important_ABCD_list {
	padding: 8px;
	background: $color__medium-grey;
	list-style-position: inside;

	li {
		cursor: move;
	}
}

.inline-form {
	display: inline;
}