$mobile-breakpoint-max: 950px;
$mobile-breakpoint-min: 1025px;

.noscroll {
	overflow: hidden;
}
.main-navigation {
	display: block;
	@media (min-width: $mobile-breakpoint-min) and (max-width: 1100px) {
		font-size: .9rem;
	}

	ul {
		display: none;
		align-items: center;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		margin-bottom: 0;
		margin-left: 30px;
		@media (max-width: 1199px){
			margin-left: 15px;
		}
		@media (max-width: $mobile-breakpoint-max){
			margin-bottom: 2em;
			margin-left: 0;
		}

		&:not(:last-child) a {
			&.btn {
				margin-right: 14px;
			}
		}

		&:hover,
		&.focus {
			> a:not(.btn) {
				border-color: $color__link-underline;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #000000;
		border-bottom: 1px solid transparent;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: #000000;
	}
}

.account-buttons {
	display: flex;
	align-items: flex-start;
	
	@media (max-width: $mobile-breakpoint-max){
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;

    .btn--secondary {
    	background: $color__logo;
    }
	}
	@media (max-width: 620px){
		flex-direction: column;
		
		.btn {
			width: 179px;
		}
	}
	@media (min-width: $mobile-breakpoint-min) and (max-width: 1100px) {
		.btn {
			padding: 0.4em 12px;
			font-size: .9rem;
		}
	}
}

.logged-in {
	.main-navigation {
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__light-blue;
		}

		li{
			&:hover,
			&.focus {
				> a:not(.btn) {
					border-color: $color__light-blue;
				}
			}
		}
	}

	.account-dropdown {
		position: relative;
		white-space: nowrap;

		img {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			margin-left: 10px;
			vertical-align: middle;
		}

		&::before {
			content: '';
			border-left: 1px solid $color__dark-grey;
			position: absolute;
			left: -20px;
			top: 2px;
			height: 34px;
		}

/* 		&::after {
	content: "\f078";
	font-family: FontAwesome;
	position: absolute;
	color: $color__light-blue;
	margin-left: 11px;
	top: 6px;
} */
	}
}


.site-branding {
	position: relative;
	z-index: 2;
	flex: 0 0 194px;
	//padding-top: 8px;
	// @media (min-width: $mobile-breakpoint-max) and (max-width: 1450px){
	// 	flex-basis: 100%;
	// 	text-align: center;
	// 	margin-bottom: 10px;
	// }
	@media (max-width: $mobile-breakpoint-max){
		text-align: left;
	}
}
/* Small menu. */
.menu-toggle {
	display: block;
	height: 18px;
	overflow: hidden;
	background: transparent;
	padding: 0;
	width: 30px;
	
	&:hover,
	&:focus {
		background: transparent;
	}

	&__content {
		display: block;
		position: relative;
		z-index: 2;
		transition: transform .2s linear;
		
		&,
		&::before,
		&::after {
			background: #000 !important;
			width: 100%;
			height: 4px;
			@media (min-width: 768px) {
				background: $color__logo;
			}
		}
		
		&::before,
		&::after{
			content: '';
			position: absolute;
			left: 0;
		} 
		&::before {
			transition: transform .2s linear, top .2s linear;
			top: -7px;
		}
		&::after {
			bottom: -7px;
		}
	}
}
.main-navigation.toggled {
	.menu-toggle {
		height: 24px;
		
		&__content {
			transform: rotate(45deg);
			&::before { 
				transform: rotate(-90deg);
				top: 0;
			}
			&::after { display: none;}
			&,
			&::before,
			&::after {
				background: #000;
			}
		}
	}
	ul {
		display: flex;
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  background: #f1ba22;
	  padding-top: 100px;
	  padding-bottom: 40px;
	  z-index: 1;
	  flex-direction: column;
	  align-items: flex-start;
	  @include padding-section;
	  font-size: 16px;
	  min-height: 100vh;
	}
	a {
		color: #000;
	}
}

@media (min-width: 1451px) {
	.main-navigation ul {
		margin-left: 20px;
	}
}
@media (min-width: $mobile-breakpoint-min) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: $mobile-breakpoint-min){
	.main-navigation {
		width: auto;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.nav-menu {
	display: flex;
}

.personal-area-nav {
	@include padding-section;
	background: $color__light-grey;

	&:first-child{
		padding-top: 74px;
		
		@media (max-width: $size__width-sm){
			padding-top: 104px;
		}
	}
	&--light {
		background: #fff;
	}

	&--sub-nav {
		&:first-child{
			padding-top: 0;
		}
		.menu-parent {
			display: none;
		}
		.menu-child {
			display: block;
		}
	}

	.menu-child { display: none; }

	ul {
		display: flex;
		padding-top: 20px;
		padding-bottom: 4px;

		@media (max-width: $size__width-sm) {
			flex-direction: column;
		}

		ul {
			display: none;
		}
	}


	li {
		margin-right: 25px;
	}

	a {
		text-decoration: none;
		color: $color__dark-grey;
		font-weight: bold;
		&:hover,
		&:focus,
		&:active {
			color: #000;
		}
	}
	
	.current-menu-parent > a,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: #000;
	}
}

#change-avatar-personal-li { display: none;}
